/* * {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div,
div[data-reactroot] {
  height: 100vh;
  padding: 0;
  margin: 0;
} */

body, #root {
  height: 100vh;
  font-family: "Gill Sans", sans-serif;
}
