.footer {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
  font-family: "Gill Sans", sans-serif;
}

.footer > span {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  height: 35px;
  background-color: #EACFCF;
  bottom: 0;
  width: 100%;
  position: fixed;
}