.navbar {
  width: 100vw;
  height: 50px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 20px;
  z-index: 1;
}

#remove-image {
  position: absolute;
  cursor: pointer;

}

#menu {
  position: relative;
  margin-left: 15px;
  height: 100%;
  align-items: center;
  list-style: none;
  display: flex;
  font-family: "Gill Sans", san-serif, serif;
  font-size: 1.2em;
}

ul#menu > li {
  display: inline;
  margin: 8px 13px;
  padding: 0;
}

ul#menu > li > a {
  color: black;
}

.nav-link, .active {
  font-size: 1.1em;
}
